<template>
  <div class="display">
    <div
      class="origin"
      ref="origin"
      :style="{ transform: 'scale(' + scale + ')' }"
    >
      <Weight :weight="item" v-for="item in weights" :key="item.id" />
      <Plank />
      <Stand />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Stand from "@/components/Stand.vue";
import Plank from "@/components/Plank.vue";
import Weight from "@/components/Weight.vue";
import { Mutation, State } from "vuex-class";
import { IWeight } from "@/types/IWeight";
@Component({
  components: { Weight, Plank, Stand }
})
export default class Display extends Vue {
  @Prop() private msg!: string;
  @State weights!: IWeight[];
  @Mutation moveLeft!: (p: boolean) => void;
  @Mutation moveRight!: (p: boolean) => void;

  mounted() {
    if (window) {
      window.addEventListener("keydown", this.onKeyDown);
      window.addEventListener("keyup", this.onKeyUp);

      window.addEventListener("resize", this.updateDisplayScale);
      this.updateDisplayScale();
    }
  }

  destroy(): void {
    if (window) {
      window.removeEventListener("keydown", this.onKeyDown);
      window.removeEventListener("keyup", this.onKeyUp);
      window.removeEventListener("resize", this.updateDisplayScale);
    }
  }

  $refs!: {
    origin: HTMLElement;
  };

  scale = 1;

  updateDisplayScale(): void {
    // const rect = this.$refs.origin.getBoundingClientRect();
    const rect = this.$el.getBoundingClientRect();
    this.scale = rect.height / 200;
  }

  onKeyDown(e: KeyboardEvent) {
    if (e.repeat) return;
    if (e.key === "ArrowRight") {
      this.moveRight(true);
    } else if (e.key === "ArrowLeft") {
      this.moveLeft(true);
    }
  }

  onKeyUp(e: KeyboardEvent) {
    if (e.key === "ArrowRight") {
      this.moveRight(false);
    } else if (e.key === "ArrowLeft") {
      this.moveLeft(false);
    }
  }
}
</script>

<style scoped lang="scss">
.display {
  position: relative;
  height: 100vh;
  .origin {
    position: relative;
    background-color: aquamarine;
    width: 100px;
    height: 200px;
    transform: scale(2);
    transform-origin: top center;
    margin: 0 auto;
  }
}
</style>
