<template>
  <div class="plank" :style="plankStyle"></div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Getter, State } from "vuex-class";
import { IPoint } from "@/types/IPoint";
@Component
export default class Plank extends Vue {
  @Getter plankDegree!: string;
  @State plankWidth!: number;
  @State plankHeight!: number;
  @State pivotPoint!: IPoint;

  get plankTransform() {
    return "rotateZ(" + this.plankDegree + ")";
  }

  get plankStyle() {
    return {
      width: this.plankWidth + "px",
      height: this.plankHeight + "px",
      top: this.pivotPoint.top + "px",
      transform: this.plankTransform
    };
  }
}
</script>

<style scoped lang="scss">
.plank {
  display: block;
  width: 100px;
  height: 5px;
  background-color: blueviolet;
  position: absolute;
  top: 175px;
  transform: rotateZ(-12deg);
  transform-origin: top center;
}
</style>
