<template>
  <div class="stand" :style="standStyle"></div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { State } from "vuex-class";
import { IPoint } from "@/types/IPoint";
@Component
export default class Stand extends Vue {
  @State pivotPoint!: IPoint;

  get standStyle() {
    return {
      left: this.pivotPoint.left + "px",
      top: this.pivotPoint.top + "px"
    };
  }
}
</script>

<style scoped lang="scss">
.stand {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 25px 10px;
  border-color: transparent transparent #6980fe transparent;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
}
</style>
