<template>
  <div
    class="weight"
    :class="[weight.type]"
    :style="weightStyle"
    :data-weight="weight.weight"
  />
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { IWeight } from "@/types/IWeight";
@Component
export default class Weight extends Vue {
  @Prop() weight!: IWeight;

  get weightStyle(): object {
    const props: any = {
      left: this.weight.location.left + "px",
      top: this.weight.location.top + "px",
      transform: "rotateZ(" + this.weight.rotation + "deg)",
      fontSize: this.weight.height * 0.9 + "px"
    };
    if (this.weight.type === "triangle") {
      props.borderWidth = `0 ${this.weight.width / 2}px ${
        this.weight.height
      }px ${this.weight.width / 2}px`;
      props.width = "0px";
      props.height = "0px";
    } else {
      props.width = this.weight.width + "px";
      props.height = this.weight.height + "px";
    }
    return props;
  }
}
</script>

<style scoped lang="scss">
.weight {
  display: block;
  position: absolute;
  transform-origin: inherit;

  &.circle {
    border-radius: 100px;
    background-color: coral;
    &::before {
      color: black;
    }
  }

  &.rectangle {
    background-color: #2c3e50;
  }

  &.triangle {
    border-style: solid;
    border-color: transparent transparent #6980fe transparent;
    &::before {
      left: -2px;
    }
  }

  &::before {
    display: block;
    position: absolute;
    content: attr(data-weight);
    left: 0;
    right: 0;
    color: white;
  }
}
</style>
