<template>
  <div id="app">
    <button @click="togglePause">{{ isPaused ? "resume" : "pause" }}</button>
    <button @click="resetGame">Reset</button>
    <Display></Display>
    <div class="message-box" v-if="gameOver">
      <h1>Game over</h1>
      <h3 v-if="gameOverReason === 'overweight'">weights are not balanced</h3>
      <h3 v-if="gameOverReason === 'angle'">max angle exceeded</h3>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "./components/HelloWorld.vue";
import Display from "@/components/Display.vue";
import { Action, Getter, Mutation, State } from "vuex-class";
import { IPoint } from "@/types/IPoint";
import { GameOverReason } from "@/types/GameOverReason";

@Component({
  components: {
    Display,
    HelloWorld
  }
})
export default class App extends Vue {
  @Action testAction!: () => any;
  @Mutation reset!: () => any;
  @Action createWeight!: () => void;
  @Mutation pause!: () => void;
  @Mutation unpause!: () => void;
  @Action tick!: () => void;
  @State moveLeft!: boolean;
  @State moveRight!: boolean;
  @State blockTimer!: number;
  @State isPaused!: boolean;
  @State worldTickRate!: number;
  @State gameOver!: number;
  @State gameOverReason!: GameOverReason;
  @State momentumLeft!: number;
  @State momentumRight!: number;
  @Getter plankTopLine!: IPoint[];
  @Getter plankPoints!: IPoint[];

  private timerId: number | null = null;
  private createBlocksTimer: number | null = null;

  mounted() {
    // setTimeout(this.)
    this.startClock();
    this.createBlocks();
  }

  startClock() {
    if (this.timerId === null) this.stopClock();
    this.timerId = setInterval(this.handleTick, this.worldTickRate);
    this.createBlocksTimer = setInterval(this.createBlocks, this.blockTimer);
    this.unpause();
  }

  stopClock() {
    if (this.timerId !== null) clearInterval(this.timerId);
    if (this.createBlocksTimer !== null) clearInterval(this.createBlocksTimer);
    this.pause();
  }

  handleTick() {
    if (!this.isPaused) {
      this.tick();
    }
  }

  createBlocks() {
    if (this.isPaused) return;

    this.createWeight("player");
    this.createWeight("npc");
  }

  togglePause() {
    if (this.isPaused) {
      this.startClock();
    } else {
      this.stopClock();
    }
  }

  resetGame() {
    this.reset();
    this.stopClock();
    this.startClock();
  }
}
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/

  .message-box {
    position: absolute;
    top: 50%;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    background-color: #f0e68c;
    border: 3px solid #f0c336;
    z-index: 1;
    left: 50%;
    margin-left: -150px;
  }
}
</style>
